# .gitignore

# Ignorar el archivo .env
.env

# Ignorar los archivos .pyc
__pycache__/
*.pyc

# Ignorar los directorios de los entornos virtuales de Python
venv/
*.venv/

# Ignorar los archivos de Jupyter Notebook
.ipynb_checkpoints/

# Ignorar los archivos de VS Code
.vscode/